<a class="nav-link fw-bold d-flex  mb-2" href="/perfil/<%= usuario.id %>">Hola <%= usuario.nombre %>
        !</a>

<a class="nav-link me-2 fw-bold d-flex mb-2" href="/administracion">Mis tareas</a>
<a class="nav-link me-2 fw-bold d-flex mb-2" href="/cerrarSesion">Cerrar Sesion</a>