<a class="nav-link fw-bold d-flex " href="/perfil/<%= usuario.id %>">Hola <%= usuario.nombre %>
        !</a>

<a class="nav-link fw-bold d-flex" href="/administracion">Mis tareas</a>
<a class="nav-link fw-bold d-flex border-end " href="/cerrarSesion">Cerrar Sesion</a>