<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form action="/cambiarPassword" method="post" class="default-form">
        <input type="hidden" name="_csrf" value= <%=csrfToken%>>
        <div class="campo">
            
            <input type="password" name="anterior" placeholder="Contrase単a anterior">
        </div>
        <div class="campo">
            
            <input type="password" name="password" placeholder="Contrase単a nueva">
        </div>
        <div class="campo">
            <input type="password" name="confirmar" placeholder="Repite la Contrase単a">
        </div>
       
        <div class="campo enviar">
            <input type="submit" value="Cambiar Contrase単a" class="btn btn-azul">
        </div>
    </form>
</main>