html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #484349;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
h1,h2{
    font-family: 'Staatliches', cursive;
    text-align: center;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}
h4{
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;padding: 0;
}
p {
    line-height: 2;
}
/*** COMPONENTES **/
.alertas {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
}
.alerta {
    text-align: center;
    font-size: 16px;
    display: block;
    color: white;
    font-weight: 700;
    padding: .5rem 4rem;
    border-radius: 50px;
}
.error {
    background-color: #f44336;
}
.exito {
    background-color: rgb(94, 156, 0);
}

/** botones **/
.btn {
    text-align: center;
    font-weight: 700;
    display: block;
    flex : 0 0 100%;
    border-radius: 50px;

}
@media (min-width: 768px) {
    .btn {
        width: auto;
        display: inline-block;
        flex: 0 0 auto;
    }
}


/** Crear Cuenta **/

main.contenedor-formularios {
    max-width: 900px;
    width:95%;
    padding: 5rem 0;
}
.no-padding {
    padding: 0!important;
}

.default-form .campo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.campo.acciones {
    justify-content: space-between;
    padding: 1rem 0;
}
.campo.enviar {
    justify-content: flex-end;
    padding-top: 2rem;
}
.default-form .campo label {
    flex: 0 0 120px;
}

.default-form legend {
    color: #068D9D;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.5rem 0;
}
.default-form.comentarios .campo {
    align-items: flex-start;   
}
.default-form .campo textarea {
    height: 10rem;
}
.contenedor-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/** Administración **/
.panel-administracion {
    padding: 4rem 0;
}
.contenedor-botones {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


@media (min-width:768px) {
    .contenedor-botones {
        display: flex;
        flex-direction: row;
    }
    .contenedor-botones a {
        flex: 1;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .contenedor-botones a:last-of-type{
        margin-right: 0;
    }
}

/** Listado de Eventos admin**/
.seccion-admin{
    padding-top: 2rem;
}
.seccion-admin li {
    padding: 1rem 0;
    border-bottom:  1px solid #E6E6E6;
}

.seccion-admin li:last-of-type{
    border-bottom: none;
}
@media (min-width:768px) {
    .seccion-admin li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.seccion-admin .fecha,
.seccion-admin h3 {
    margin: 0;
}
.informacion-admin {
    flex: 0 0 35%;
    margin-right: 2rem;
}
.informacion-admin small {
    font-weight: 700;
    font-size: .8rem;
}
.acciones.contenedor-botones a {
    flex: 1;
}
.acciones.contenedor-botones {
    width: 100%;
}
